<title>Header</title>

<% if(username) { %>
  <h4>User logged in: <%= username %></h4>
  <form action="/logout" method="POST"> 
    <input <button type="submit" value="Logout"></button></input>
  </form>
<% } else { %>
  <form action="/login" method="POST"> 
    <input type="text" name="username" placeholder="Username"></input>
    <input <button type="submit" value="Login"></button></input>
  </form>
<% } %>