<title>Header</title>
<% if(user) { %>
  <h4><%= user.email %></h4>
  <form action="/logout" method="POST">
    <input <button type="submit" value="Logout"></button></input>
  </form>
<% } else { %>
  <a href="/login">Login here!</a>
  <a href="/register">Register here!</a>
<% } %>

 
 