<!DOCTYPE html>
<html lang = 'en'>
<head>
    <title>TinyApp</title>
    <meta charset="UTF-8">
    <% include partials/_header %>
</head>
<body>
  <a href = '/urls/new'>Make your URL super duper tiny!</a>
    <table>
    <% for(let db in urls) { %>
      <tr>
        <td><%=`Long: ${urls[db]}`%></td>
        <td><%=`Tiny: ${db}`%>
          <form method='POST' action='/urls/<%= db %>/delete'>
            <input type='submit' value='Delete'>
          </form>
          <a href="/urls/<%=db%>">Edit</a>
        </td>
      </tr>
    <% } %>
  </table>
</body>
</html>