

  <!--<form action="/logout" method="POST"> 
    <input <button type="submit" value="Logout"></button></input>
  </form>

  <form action="/login" method="POST"> 
    <input type="text" name="username" placeholder="Username"></input>
    <input <button type="submit" value="Login"></button></input>
  </form>-->



<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include partials/_header %>
  </head>
  <body>
    <form action='/login' method='POST'>
      <label for='email'>Enter your email address:</label>
      <input id='email' type='email' name='email'>
      <label for='password'>Enter your password:</label>
      <input id='password' type='password' name='password'>
      <input type='submit' value='Login'>
    </form>
  </body>
</html>