<!DOCTYPE html>
<html lang = 'en'>
<head>
    <title>TinyApp</title>
    <meta charset="UTF-8">
    <% include partials/_header %>
</head>
<body>
  <a href = ''>Make your URL super duper tiny!</a>
  <table>
    <tr>
      <th>URL</th>
      <th>Short URL</th>
    </tr>
    <tr>
      <td>.....</td>
      <td>...</td>
    </tr>
  </table>
</body>
</html>