<!DOCTYPE html>
<html lang = 'en'>
<head>
    <title>TinyApp</title>
    <meta charset="UTF-8">
    <% include partials/_header %>
</head>
<body>
  <h3>Here's your tremendously tiny URL!</h3>
  <table>
    <tr>
      <th><%= longURL %></th>
      <th><%= shortURL %></th>
    </tr>
  </table>
</body>
</html>