<!DOCTYPE html>
<html lang = 'en'>
<head>
    <title>TinyApp</title>
    <meta charset="UTF-8">
    <% include partials/_header %>
</head>
<body>
  <a href = '/urls/new'>Make your URL super duper tiny!</a>
    <table>
      <th>Long URL</th>
      <th>Tiny URL</th>
    <% for(let db in urls) { %>
      <tr>
        <td><%= urls[db] %></td>
        <td><%= db %> 
        <td><a href="/urls/<%=db%>">Edit</a></td>
        <td>
          <form method='POST' action='/urls/<%= db %>/delete'>
            <input type='submit' value='Delete'>
          </form>
        </td>
        </td>
      </tr>
    <% } %>
  </table>
</body>
</html>